{
  "presets": [
    "latest",
    "react",
    "stage-0"
    ],
    "plugins": [
      ["import", { "libraryName": "antd", "libraryDirectory": "lib"}, "ant"],
      ["import", { "libraryName": "ant-mobile", "libraryDirectory": "lib"}, "ant-mobile"],
    ]
}